<% @sauce.comments.each do | comment | %>
  <div class="comment">
    <div class="user-layout">
      <p><%= comment.commenter %></p>
    </div>
    <div class="body-layout">
      <p><%= comment.body %></p>
    </div>
    <div class="controls">
      <%= link_to 'Delete', [ comment.sauce, comment ],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
