<div class="home-page-content" id="home-page">
  <div class="jumbotron jumbotron-fluid">
    <%= image_tag "site-banner-stock.png", class: 'img-fluid site-banner' %>
  </div>
  </div class="container">
  </div>
</div>
