<div class="home-page-content" id="home-page">
  <div class="jumbotron jumbotron-fluid">
    <%= image_tag "site-banner-stock.png", class: 'img-fluid site-banner' %>
  </div>
  <div class="featured-sauce container">
    <h2>FEATURED</h2>
    <%= render 'sauces/sauces' %>
  </div>
</div>
