<div class="home-page container" id="home-page">
  <div class="jumbotron" id="site-banner" style="background-image: url('https://storage.googleapis.com/hotsauced-pics/banner_stock.png'); background-size: cover; padding-bottom: 15%;">
  </div>
  <div class="row">
    <div class="col-md-8 home-main" id="home-main">
      <%= render 'sauces/latest_sauce' %>
    </div>
    <aside class="col-md-4 sidebar" id="sidebar">
      <%= render 'sauces/top_rated' %>
    </aside>
  </div>
</div>
