<div class="home-page container" id="home-page">
  <div class="jumbotron" id="banner" style="background-image: url('https://storage.googleapis.com/hotsauced-pics/banner_stock.png'); background-size: cover; padding-bottom: 15%;">
  </div>
  <div class="row">
    <div class="col-md-8 home-main" id="home-main">
      <div class="latest-sauce" id="latest-sauce">
      <h3 class="pb-1 font-italic border-bottom">Latest Sauce</h3>
        <% if !@latest_sauce.nil? %>
          <h2 class="sauce-name wrap"><%= link_to @latest_sauce.name, sauce_path(@latest_sauce), class: 'text-dark', id: 'name' %></h2>
          <p class="wrap" id="summary"><%= @latest_sauce.summary %></p>
        <% end %>
      </div>
    </div>
    <aside class="col-md-4 sidebar" id="sidebar">
      <div class="top-sauces" id="top-sauces">
      <h4 class="font-italic">Top Rated</h4>
      <ul class="list-group" id="top-sauce-list">
        <% if !@top_sauces.nil? %>
          <% @top_sauces.each do |sauce| %>
            <li class="list-group-item list-group-item-action d-flex flex-row p-2 justify-content-between align-items-center" id="top-sauce">
              <%= link_to sauce.name, sauce_path(sauce), class:'text-dark', id:'name' %>
              <%= image_tag('rating_0.svg', width: '75', class: 'img-fluid sauce-rating', id: 'rating') %>
            </li>
          <% end %>
        <% end %>
      </ul>
      </div>
    </aside>
  </div>
</div>
