<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <%= image_tag "banner_stock.png", class: 'img-fluid' %>
    <h1 class="display-4">Banner here</h1>
    <p class="lead">And maybe some extra text</p>
  </div>
</div>