<div id="latest-sauce">
  <h3 class="pb-1 font-italic border-bottom" id="header">Latest Sauce</h3>
  <% if latest_sauce %>
    <h2 class="sauce-name"><%= link_to @latest_sauce.name, sauce_path(@latest_sauce), class: 'text-dark', id: 'name' %></h2>
    <div id="description">
      <%= simple_format @latest_sauce.description %>
    </div>
  <% end %>
</div>
