<div class="sauce-page container" id="sauce-page">
  <h3>Sauce Not Found?</h3>
  <%= link_to "ADD NEW SAUCE", new_sauce_path(@sauce), class: 'btn btn-secondary', id: 'add-new-sauce' %>
  <div class="sauce-list">
    <%= render_sauces %>
  </div>
</div>
