<div class="container" id="sauces-page">
  <%= link_to "ADD NEW SAUCE", new_sauce_path(@sauce), class: 'btn btn-secondary', id: 'add-new-sauce' %>
  <div id="sauces">
    <%= render_sauces %>
  </div>
</div>
