<div class="sauce-page-content" id="sauce-page">
  <div class="container">
    <div class="sauce-container">
      <div class="add-new-sauce container">
        <%= link_to "ADD NEW SAUCE", new_sauce_path(@sauce), class: 'btn btn-outline-success my-2 my-sm-0', id: 'add-new-sauce' %>
      </div>
      <div class="sauce-list container">
        <%= render 'sauces' if !@sauces.empty? %>
        <%= render 'no_results' if @sauces.empty? %>
      </div>
    </div>
  </div>
</div>
