<div class="sauce-page container" id="sauce-page">
  <%= link_to "ADD NEW SAUCE", new_sauce_path(@sauce), class: 'btn btn-outline-success my-2 my-sm-0', id: 'add-new-sauce' %>
  <div class="sauce-list">
    <%= render 'sauces' if !@sauces.empty? %>
    <%= render 'no_results' if @sauces.empty? %>
  </div>
</div>
