<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="centeredModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Message Sent</h5>
        <button type="button" class="close" id="x" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body">
        <p>Sharing is caring! Your message is on it's way through the internet, and my inbox is awaiting it's arrival.</p>
        <p>Thanks for reaching out!</p>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
