<div class="container" id="about-page">
  <div class="row justify-content-around no-gutters">
    <div class="col-sm-4" id="heat">
      <h4 class="text-center border-bottom pb-2 pt-5" id="header">HEAT</h4>
      <p>
        Fusce accumsan at nunc vitae lobortis. Vestibulum iaculis est velit, ut egestas urna sagittis non. Ut interdum venenatis velit, et semper nulla fringilla ac. Orci.
      </p>
    </div>
    <div class="col-sm-4" id="flavor">
      <h4 class="text-center border-bottom pb-2 pt-5" id="header">FLAVOR</h4>
      <p>
        Aliquam a mattis leo. Sed vitae arcu eget turpis congue pulvinar ac et turpis. Vestibulum porta placerat ipsum, ac efficitur orci scelerisque id. Pellentesque nec.
      </p>
    </div>
  </div>
  <div class="row justify-content-around no-gutters">
    <div class="col-sm-4" id="peppers">
      <h4 class="text-center border-bottom pb-2 pt-5" id="header">PEPPERS</h4>
      <p>
        Sed ante libero, eleifend vitae magna a, fermentum suscipit est. Proin ornare dictum leo, quis luctus orci mollis non. Donec eleifend lectus convallis, aliquam orci.
      </p>
    </div>
    <div class="col-sm-4" id="sauce">
      <h4 class="text-center border-bottom pb-2 pt-5" id="header">SAUCE</h4>
      <p>
        Aenean scelerisque augue in eros luctus scelerisque. Etiam non mi accumsan, bibendum nibh at, mollis lorem. Curabitur elit velit, cursus et mi in, rhoncus convallis.
      </p>
    </div>
  </div>
  <div class="row pt-5 no-gutters justify-content-center">
    <div class="col-6" id="developed-by">
      <h4 class="text-center border-bottom py-2" id="header">DEVELOPED BY</h4>
      <div class="row justify-content-center">
        <div class="col-auto">
          <%= image_tag 'avatar-me.png', width: '150', class: 'img-fluid pb-2', id: 'avatar' %>
        </div>
        <div class="col-sm-2 text-center align-self-center text-md-left" style="font-size:24px;" id="name">STEVE MOMCILOVIC</div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <%= render 'contact_form' %>
  </div>
</div>
