/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

body, wrapper {
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer {
  width: 100%;
  position: relative;
  font-size: 14px;
  padding: 12px 0;
  border-top: 1px solid #e7ebf3;
  background-color: #f5f5f5;
}

.wrap {
  max-width: 100%;
  word-wrap: break-word;
}

// for navbar dropdown
.navbar-dark .navbar-secondary .nav-item.dropdown .nav-link {
  color: #9A9DA0;
}

.navbar-dark .navbar-secondary .nav-item.dropdown.show .nav-link {
  color: #CCCECF;
}

.navbar-dark .navbar-secondary .nav-item.dropdown .nav-link:hover {
  color: #CCCECF;
}

.navbar-dark .navbar-secondary .nav-item.dropdown .nav-link.active {
  color: #FFFFFF;
}

#search-icon svg {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  color: #9A9DA0;
}

@media (max-width: 992px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    left: -12rem;
    width: 12rem;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}
