<% @sauce.reviews.each do | review | %>
  <div class="review">
    <div class="user-layout">
      <p><%= review.user %></p>
    </div>
    <div class="user-rating">
      <p><%= review.rating %></p>
    </div>
    <div class="body-layout">
      <p><%= review.body %></p>
    </div>
    <div class="controls">
      <%= link_to 'Delete', [ review.sauce, review ],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
