<% @review.errors.messages.each do | key, value | %>
 $('#review-form #<%= key %>').after(`<div class="invalid-tooltip"><%= value.join(' and ').prepend("#{key} ").concat('.').capitalize %></div>`);
 $('#review-form #<%= key %>').addClass('is-invalid');
<% end %>

